@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Caveat', serif;
    font-size: 65px;
    color: whitesmoke;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
}

li > a {
    border: 2px solid whitesmoke;
    color: whitesmoke;
    display: block;
    font-size: x-large;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    width: 200px;
    transition-property: width, background-color;
    transition-duration: 1s, 500ms;
}

a:hover {
    background-color: black;
    width: 300px;
}

body, html {
    height: 100%;
  }

body {
    background: url('/images/akter-leonardo-dicaprio.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin-left: 55px;
    margin-top: 55px;
    width: 35%;
    font-size: 1em;
    line-height: 1.5;
    color: whitesmoke;
    text-align: justify;
    padding: 5px;
}

footer {
    position: fixed;
    margin: 20px 20px;
    bottom: 0;
    width: 100%;
    color: whitesmoke;
    text-align: center;
  }

@media screen and (max-width: 600px) {
    .menu, .container {
      float: left;
      display: block;
      text-align: center;
    }
  }


