@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#name {
    font-family: 'Caveat', serif;
    position: relative;
    top: 100px;
    left: 35px;
    font-size: 125px;
    color: whitesmoke;
    display: flex;
    justify-content: left;
}

#surname {
    font-family: 'Caveat', serif;
    position: relative;
    bottom: 55px;
    right: 45px;
    font-size: 125px;
    color: whitesmoke;
    display: flex;
    justify-content: right;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
}

li > a {
    border: 2px solid whitesmoke;
    color: whitesmoke;
    display: block;
    font-size: x-large;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    width: 200px;
    transition-property: width, background-color;
    transition-duration: 1s, 500ms;
}

a:hover {
    background-color: black;
    width: 300px;
}

body, html {
    height: 100%;
  }

body {
    background: url('/images/leonardo-dicaprio-actor.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin-left: 55px;
    margin-top: 55px;
    width: 25%;
    font-size: 1em;
    line-height: 1.5;
    color: whitesmoke;
    text-align: justify;
}

.form {
    margin: 55px;
    width: 25%;
    font-size: 1em;
    line-height: 1.5;
    color: whitesmoke;
    text-align: justify;
    float: right;
}

footer {
    position: absolute;
    margin: 20px 20px;
    bottom: 0;
    width: 100%;
    color: whitesmoke;
    text-align: center;
  }

.social-media a {
	margin-right: 10px;
	color: whitesmoke;
}

.social-media i {
	font-size: 20px;
}

@media screen and (max-width: 600px) {
    .menu {
      float: left;
      display: block;
      text-align: center;
    }
  }
